@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    font-family: 'Pangolin', cursive;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

input[type=email], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    font-family: 'Pangolin', cursive;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

input[type=password], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Pangolin', cursive;
    box-sizing: border-box;
    resize: vertical;
}

label {
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    display: inline;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.container {
    border-radius: 5px;
    background-color: #a1b3e2;
    padding: 20px 325px 20px 325px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 19px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row {
    font-family: 'Pangolin', cursive;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}